@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;

}

body {
  -ms-overflow-style: none;
}

body {

  overflow: -moz-scrollbars-none;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow: scroll;
}

body {
  background-color: rgb(247, 240, 240);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  background-color: rgb(240, 191, 71);
  text-align: center;
  width: 62.5vw;
  position: absolute;
  top: 47px;
  right: 0;
  left: 285px;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

.container {
  padding: 16vh 0 20px 20px;
  border-radius: 10px;
  margin: 40px 10px 40px 20px;
  background-color: #0091E0;
}

.gbps img {
  height: 50px;
  width: 40px;
  object-fit: contain;
}

.plan-price {
  display: flex;
  align-items: center;
  gap: 19px;
  margin-left: 8.5vw;
}

.plans {
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
}

.md-hidden {
  display: none;
}

#price-tags {
  background-color: white;
  width: 22vw;
  height: 60px;
  padding: 11px 11px 75px 11px;
  border-radius: 6px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

  &:hover {
    opacity: 0.8;
  }
}

.speed {
  display: block;
  font-size: medium;
  font-weight: normal;
  /* text-align: center; */
  position: relative;
  top: -10px;
  color: #FFCC00;
  left: 40px;
}

span {
  display: inline-block;
}

strong {
  font-size: 1.3rem;
}

.months {
  font-size: 1.3rem;
  color: black;
}

.payable-amount {
  color: black;
  font-size: 0.9rem;
  margin-top: 11px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.payable-amount img {
  height: 17px;
}

.payable-amount span {
  display: flex;
  align-items: center;
}

h3 {
  width: 160px;
  color: #FFCC00;
  display: flex;
  align-items: center;
  margin: 0;
  /* font-size: 1.4rem; */
}

.save {
  background-color: #FFCC00;
  color: black;
  padding: 4px 5px;
  border-radius: 12px;
  font-weight: 600;
  font-size: small;
  display: flex;
  align-items: center;
  margin-left: auto;
  width: 100px;
  justify-content: center;
}

.save img {
  height: 15px;
}


#price-tags div {
  display: flex;
  align-items: center;
}

img {
  object-fit: cover;
}

#price-tags .img-1 {
  height: 22px;
}

.images {
  display: flex;
  align-items: center;
}

.images img {
  object-fit: contain;
  width: 18%;
  position: relative;
  margin: 0 40px 0 35px;
  bottom: -12.5vh;
}